.z2k3TBUpsPYHIzDbYNtj {
    background-color: #323232!important;
    padding-bottom: 20px;
    padding-top: 20px;
}

.Djw1lUdnvFtleWlt0YqB {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%
}

.PYK7NsoZ8OlnBFkjs77J {
    display: flex;
    justify-content: space-between
}

.gYyspPuhuIqXfiuxVwzk {
    align-items: flex-end;
    display: flex
}

.gYyspPuhuIqXfiuxVwzk img {
    height: 28px;
    margin-left: 20px;
    width: 28px
}

.iq75ruHo3OkmRTBG5M3l {
    display: flex
}

._q5lgRRt5b5v5MiQMiKH img {
    height: 48px;
    width: 160px
}

.E483g6z9CkSlQe1SXBFf {
    margin-right: 8px;
    margin-top: 10px;
    text-align: end
}

.E483g6z9CkSlQe1SXBFf,.YrPqKsHTufowbJdLIZhQ {
    font-family: Roboto,sans-serif;
    font-weight: 300
}

.YrPqKsHTufowbJdLIZhQ {
    color: #808290;
    font-size: 13px;
    line-height: 16px
}

.XEajNlReIje1I397VwrI {
    color: #cfcfcf;
    font-family: Conv_ClanPro-Bold;
    font-size: 13px;
    line-height: 16px
}

.HyXa07AxDgPdnjfBAvsJ img {
    cursor: pointer;
    height: 48px;
    margin-top: -5px;
    width: 132px
}

.Bu2l93WiCqQY1sT4RST8 {
    color: #fff;
    font-family: Roboto,sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px
}

.xwRWoKfTxdzb1nlhJWNc {
    border-left: 1px solid grey;
    margin-left: 8px;
    padding-left: 16px
}